p {
    margin: 0 0 1.5em 0;
}
ul, ol {
    margin-bottom: 1.5em;
    ul, ol {
        margin-bottom: unset;
    }
    li {
        margin: .5em 0;
    }
}
code {
    background-color: light-dark(#f5f2f0, var(--color-chrome-medium));
    padding: .25em;
}