@use "utils";

.entry-header {
    padding: var(--grid-gutter) 0;
    .date {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        align-items: center;
        .post-date {
            color: var(--color-chrome-dark);
        }
    }
    .flag {
        display: inline-block;
        background-color: var(--color-primary);
        color: var(--color-negative);
        padding: .15em .75em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: .5em;
        font-size: utils.rem(12);
    }
}