{# 
    pageIntro: string
 #}
{% macro GlobalHeader(pageIntro) %}
    {% from "components/landing/taglist" import Taglist %}
    {% from "components/landing/profile" import Profile %}
    {% from "components/landing/accordion" import Accordion %}
    {% from "components/landing/page-intro" import PageIntro %}

    {% set taglists = [
        {
            heading: "Languages & Frameworks",
            tags: [
                'HTML5',
                'CSS3',
                'Javascript/ES6',
                'SASS/SCSS',
                'Typescript',
                'React',
                'Next.js',
                'React Query',
                'jQuery',
                'Bootstrap',
                'Twig',
                'Handlebars',
                'Craft CMS',
                'ExpressionEngine'
            ]
        },
        {
            heading: "Server-Side Programs",
            tags: [
                'NPM',
                'Git',
                'Webpack',
                'Grunt',
                'Babel',
                'ESLint',
                'Prettier',
                'DDEV'
            ]
        },
        {
            heading: "Principles",
            tags: [
                'Responsive Design',
                'HTML Email Development',
                'Mobile-First Web Development',
                'Component-Based Architecture',
                'Headless CMS Development',
                'Page Speed Optimization',
                'Progressive Enhancement'
            ]
        },
        {
            heading: "Software",
            tags: [
                'Adobe Photoshop',
                'Adobe Illustrator',
                'Sketch',
                'Figma',
                'Visual Studio Code',
                'Sublime Text'
            ]
        },

    ] %}

    {% set listOfTagLists = [] %}

    {% for list in taglists %}
        {% set listOfTagLists = listOfTagLists|merge(['<section>' ~ Taglist(list.heading, list.tags) ~ '</section>']) %}
    {% endfor %}

    {% set accordionData = [
        {
            label: 'View Skills List',
            content: '<div class="section-set">' ~ listOfTagLists|join('\n') ~ '</div>'
        } 
    ] %}

    <header class="global-header">
        <div class="section-set">
            <section>
                {{ Profile() }}
            </section>
            <section>
                {{ PageIntro('<p>' ~ pageIntro ~ '</p>') }}
            </section>
            <section>
                {{ Accordion(accordionData) }}
            </section>
        </div>
    </header>
{% endmacro %}